@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
}

/* navbar */

nav .logo img {
  width: 150px;
}

nav {
  height: 80px;
  width: 100%;
}

label.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #000000;
  font-size: 16px;
  border-radius: 8px;
  padding: 7px 15px;
}

nav ul li a.active,
nav ul li a:hover {
  background: linear-gradient(94.42deg, #4AA09B 1.29%, #41CFC7 102.69%);
  color: #ffffff;
  transition: .5s;
}

nav ul li button {
  background: linear-gradient(94.42deg, #4AA09B 1.29%, #41CFC7 102.69%);
  border-radius: 8px;
  padding: 7px 15px;
  color: #ffffff;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.checkbtn {
  font-size: 30px;
  color: #000000;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 0px;
  }

  nav ul li a {
    font-size: 16px;
  }

  nav {
    display: flex;
    padding: 15px;
    justify-content: space-between;
  }

  .checkbtn {
    margin-right: 15px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    background-color: #fff;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked~ul {
    left: 0;
  }
}




/* home section */
.home-section {
  position: relative;
  /* background-image: url(assets/spin.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 273px;
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.home-section h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 15vw;
  font-weight: 900;
  line-height: 300px;
  letter-spacing: 0em;
  text-align: center;
  color: #418F86;
}

.home-section button {
  background: linear-gradient(94.42deg, #4AA09B 1.29%, #41CFC7 102.69%);
  border-radius: 8px;
  padding: 12px;
  color: #ffffff;
  border: none;
}


/* side drawer */
.container {
  position: relative;
  width: 680px;
}

.drawer {
  position: fixed;
  top: 0;
  right: -680px;
  width: 630px;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease;
  box-shadow: -4px 0px 8px 0px #00000066;
  z-index: 1;
  padding: 40px 48px;
}

.drawer.open {
  right: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.show {
  display: block;
}
.drawer h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #1D1D1F;
}
.closebtn {
  background: none;
  border: none;
  font-size: 26px;
  color: #3F4948;
  position: absolute;
  right: 30px;
  top: 12px;
  cursor: pointer;
}
.success {
  text-align: center;
}
/* form style */
form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.input-container {
  position: relative;
  background-color: #F2F3F7;
  margin-bottom: 24px;
  border-radius: 8px;
  height: 50px;
  transition: background-color 500ms;
}


.input-container:focus-within {
  background-color: #dcdcdc;
}

.input-container label {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  color: rgba(0, 0, 0, 0.5);
  transform-origin: left top;
  user-select: none;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
}

.input-container input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px 16px 6px;
  background: #F2F3F7;
  border: none;
}

input:focus {
  outline: none;
  background: #E0FFFA;

}

.input-container input:focus+label {
  color: #ccc;
}

.input-container input:focus+label,
.input-container input.is-valid+label,
.input-container input:not(:placeholder-shown) + label {
  transform: translateY(-145%) scale(0.75);
}

.input-button {
  background: #41CBC3;
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.form-error {
  color: #DF1111;
  margin-top: -15px;
  margin-bottom: 24px;
}

.input {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #6F7978;
  color: #6F7978;
  margin-right: 16px;
  text-align: center;
  font-size: 20px;

}

.timer {
  margin-top: 8px;
  margin-bottom: 40px;
}

@media (max-width: 991px) {

  .drawer,
  .container {
    width: 100%;
  }
}





/* spread image animation */
.wrapper{
  position: absolute;
  top: calc(88% - 50px);
  left: calc(50% - 50px);
}
.item{
  transition: .5s;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #4b134f;
  display: inline-block;
  margin: 0;
  font-size: 3em;
  font-family: sans-serif;
  color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
}
.controls{
  position: absolute;
  top: 10px;
  width: 99%;
  text-align: center;
}
.right{
    background: linear-gradient(94.42deg, #4AA09B 1.29%, #41CFC7 102.69%);
    border-radius: 8px;
    padding: 7px 15px;
    color: #ffffff;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}



.wrapper a:hover{
  transition: .3s;
  transform: scale(1.1);
}

.selection-off{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* just a bit of responsive */
.item img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .item{
    width: 60px;
    height: 60px;
    font-size: 1.5em;
  }
  .wrapper{
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
  }
  .controls{
    top: 20px;
  }
  .left{
    margin-right: 50px;
  }
  .right{
    margin-left: 50px;
  }
  .wrapper a{
    bottom: 20px;
    height: 50px;
    width: 200px;
    font-weight: 600;
    font-size: 1em;
  }
}